<div>

    <h1>PRODUCTOS EN TIEMPO REAL</h1>

    <form >
        <label for="fname">nombre del producto:</label><br>
        <input type="text" id="tittle"><br>
        <label for="lname">descipccion del producto:</label><br>
        <input type="text" id="desciption"><br><br>
        <input type="submit" value="Submit">
    </form> 

    <button id="bnt"></button>


</div>